

.listItem:hover {
  color: blue;
  cursor: pointer; cursor: hand;
}

li {
  list-style: none;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.listItem {
  color: blue;
}

.detail-group {
  display: none;
}
